Software 2 types - 

static software : Unidirectional conversation between user and software

dynamic software : software and user are taking with each other

for dynamic software user input is required

In [6]:
input(prompt = "Apna naam bata : ")

'yash'

user jab input func se input deta hain tab user k pass always string format mai values jata hai

In [7]:
first_num = input("Enter the first number : ")
second_num = input("Enter the second number : ")

In [8]:
print(first_num + second_num)

34

In [9]:
# type
print(type(first_num))

<class 'str'>

In [10]:
first_num

'3'

Type Conversion

implicit : automatic type conversion

explicit : user will tell to type conversion

In [12]:
4 + 5.6  # implicit

9.6

In [ ]:
first_num + second_num   # in this type of case explicit type conversion is required

'34'

In [14]:
int('45')

45

In [15]:
float(2)

2.0

In [16]:
str(5)

'5'

In [17]:
bool(1)

True

In [18]:
complex(3)

(3+0j)

In [19]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [20]:
int('kolkata')

ValueError: invalid literal for int() with base 10: 'kolkata'

in java type casting is permanent operation but in python type conversion is not a permanent operation

In [22]:
a = 4.5

In [23]:
int(a)

4

In [24]:
a

4.5

In [26]:
first_num = input("Enter the first number : ")
second_num = input("Enter the second number : ")

result = int(first_num) + int(second_num)
print(result)

7